/* Reset some basic stuff */
body, h1, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Baloo 2', cursive, sans-serif;
  line-height: 1.6;
  background-color: #fdfdfd;
  color: #333;
  padding: 40px;
}

h1 {
  font-family: 'Baloo 2', cursive, sans-serif;
  color: #333333;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Baloo 2', cursive, sans-serif;
  color: #333333;
  margin-top: 40px;
  margin-bottom; 20px;
  font-size: 24px;
}

p {
  font-family: 'Baloo 2', cursive, sans-serif;
  margin-bottom: 30px;
  font-size: 18px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #2c3e50;
  font-weight: bold;
  font-family: 'Baloo 2', cursive, sans-serif;
}

nav a:hover {
  text-decoration: underline;
}
